<h1>Bienvenido</h1>

<!-- Bot贸n para la administraci贸n de productos en tiempo real -->
<form action="/realtimeproducts" method="get" style="display: inline;">
    <button type="submit">Administrar Productos en Tiempo Real</button>
</form>

<!-- Bot贸n para ver carritos -->
<form action="/carts" method="get" style="display: inline;">
    <button type="submit">Ver Carritos</button>
</form>

<!-- Bot贸n para ver productos -->
<form action="/products" method="get" style="display: inline;">
    <button type="submit">Ver Productos</button>
</form>
